body {
    background-color: #CCC;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .main {
    display: col;
    width: 80%;
  }

  .selections {
    position: relative;
    display: flex;
    justify-content: center;

  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  .result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: #333;
  }
  
  .result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
  }

  #message-container {
    padding-top: 20%;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
    height:400px;
    scroll-behavior: smooth;
  }

  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }

  .msg {
    font-size: 2.7vh;
    text-align: left;
  }

  #send-container {
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
    font-size: 1rem;
  }

  #send-button {
    font-size: 1rem;
  }

  #reset-button {
    font-size: 1rem;
  }

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 10vw;
    transition: 100ms;
  }
}
